*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.flexx{
    flex-wrap: wrap;
}

.conatiner-fluid{
    background: transparent;
}

.head{
    background-color: #0009;
    height: 100vh;
    padding: 0px 10px;
}

header{
    background-color: transparent;
}

header h1 {
    cursor: pointer;
}

header h1 span{
    color: red;
}

header nav ul li{
    display: inline-block;
    margin: 5px 0px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 25px;
    margin: 0px 15px;
    color: #000;
    font-weight: bold;
}

.home{
    margin-top: 250px;
}

.home p span{
    font-weight: bold;
    color: #fff;
}