/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

.flexx {
    flex-wrap: wrap;
}

.header {
    background-color: #000;
    height: 100vh;
}

/* Navbar Styling Start */

.navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    /* padding: 5px 0;
    background-color: crimson; */
}

.navbar.sticky{
    background-color: crimson;
    padding: 10px 0;
}

.navbar .logo {
    font-size: 35px;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    color: #fff;
}

.navbar .logo span {
    color: crimson;
    /* color: #fff; */
    transition: all 0.3 ease;
}

.navbar .list li {
    list-style: none;
    display: inline-block;
    font-size: 23px;
    margin-top: 10px;
}

.navbar .list li a {
    color: #fff;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar .list li a:hover {
    color: crimson;
}

/* Navbar Styling End */

/* Home Styling Start */

.home {
    display: flex;
    background: #000;
    height: 100vh;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}

.home .home-content {
    margin: auto 0;
    color: #fff;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

/* Home Styling End */

/* Home Responsive Start */

@media only screen and (max-width: 600px) {
    .home .home-content .text-1 {
        font-size: 20px;
    }
    
    .home .home-content .text-2 {
        font-size: 50px;
        font-weight: 600;
        margin-left: -3px;
    }
    
    .home .home-content .text-3 {
        font-size: 40px;
        margin: 5px 0;
    }
    
    .home .home-content .text-3 span {
        color: crimson;
        font-weight: 500;
    }
}

@media only screen and (max-width: 300px) {
    .home .home-content .text-1 {
        font-size: 20px;
    }
    
    .home .home-content .text-2 {
        font-size: 40px;
        font-weight: 600;
        margin-left: -3px;
    }
    
    .home .home-content .text-3 {
        font-size: 20px;
        margin: 5px 0;
    }
    
    .home .home-content .text-3 span {
        color: crimson;
        font-weight: 500;
    }
}

/* Home Responsive End */